.color{
    color:black;
    font-weight: bold;
    
}

.colorb{
    background-color: #181818;
}

.colorw{
    color: white;
}


.servicesb{
    font-weight: bold;
}


.colorfoter{
    background-color: #181818;
    color: white;
}


.abtcolor{
    color: green;
}


 .lastft{
    background-color: green;
    
} 

.ftg{
    color: white;
}


.ftb{
    color:#181818;
    font-weight: bold;
}